*{
	margin: 0;
	padding: 0;
}
.clearfloat{
	overflow: hidden;
}
.f_main{
	padding-top: 120px;
	background: #f9f6f3;
}
.f_wrap{
	width: 1200px;
	margin: 0 auto;
}
/* 基金图表 */
.f_top_left, .f_top_right{
	box-sizing: border-box;
	padding: 20px 26px;
	background: #ffffff;
}
.f_top_right{
	width: 700px;
	float: right;
}
.f_top_left{
	float: left;
}
.f_totalChartName li{
	color: #999999;
	float: left;
	padding: 5px;
	margin-right: 10px;
	cursor: pointer;
}
.f_totalChartName .f_selected_li{
	color: #000000;
	border-bottom: 2px solid #8d2525;
}
.f_chart_bar{
	margin-top: 35px;
}
.f_chartName{
	float: left;
}
.f_chartName li{
	height: 25px;
	line-height: 25px;
	float: left;
	color: #8d2525;
	border: 1px solid #8d2525;
	border-radius: 5px;
	padding: 0 5px;
	margin-right: 10px;
	font-size: 12px;
}
.f_chartName .f_active_li{
	background: #8d2525;
	color: #ffffff;
}
.f_floatbar{
	float: right;
	color: #000000;
}
.f_floatbar span{
	color: #8d2525;
}
.f_floatbar .f_percent{
	line-height: 20px;
	font-size: 20px;
	margin-left: 15px;
}
.f_chart{
	padding: 35px 10px;
}
/* 货币表 */
.f_currency_title{
	overflow: hidden;
}
.f_currency_title h3{
	margin: 0;
	width: 290px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	color: #3a2014;
}
.f_currency_title span{
	font-size: 18px;
	color: #3a2014;
	font-weight: normal;
}
.f_title_right{
	width: 320px;
	margin-right: 30px;
	float: right;
	margin-bottom: 0;
}
.f_title_right li{
	float: left;
	height: 30px;
	line-height: 30px;
	padding-left: 25px;
	color: #892425;
}
.f_title_right li:first-child{
	width: 90px;
	background: url(../images/type-icon.png) no-repeat;
	background-position: 0px 7px;
}
.f_title_right li:nth-child(2){
	width: 140px;
	background: url(../images/icon-time.png) no-repeat;
	background-position: 0px 7px;
}
.f_title_right li:last-child{
	width: 90px;
	padding-left: 35px;
	background: url(../images/icon3.png) no-repeat; 
	background-position: 9px 9px;
	border: 1px solid #892425;
	border-radius: 5px;

}
.f_currency_form{
	margin-top: 35px;
	overflow: hidden;
	border-bottom: 1px dashed #e6e6e6;
	padding-bottom: 5px;
}
.f_currency_form ul{
	float: left;
}
.f_currency_form ul:first-child{
	width: 242px;
}
.f_currency_form ul:nth-child(2){
	width: 226px;
}
.f_currency_form ul:nth-child(3){
	width: 177px;
}
.f_top_right ul li,.f_line{
	height: 30px;
	line-height: 30px;
}
.f_gray{
	margin-left: 20px;
	font-family: Arial;
	color: #777777;
}
.f_warning{
	width: 280px;
	font-family: '微软雅黑';
	font-size: 12px;
	color: #902929;
	background: url(../images/icon4.png) no-repeat;
	background-position: 3px 3px;
	padding-left: 20px;
}
.f_investment_prompt{
	margin-top: 10px;
}
.f_float_ul  li{
	float: left;
}
.f_investment01 li:first-child{
	width: 242px;
}
.f_float_left{
	float: left;
}
.f_money{
	padding: 15px 40px;
	width: 403px;
	height: 105px;
	border: 1px solid #c48e8a;
	background: #f1ede4;
	float: left;
	margin-left: 64px;
}
.f_money ul li{
	float: left;
	color: #999999;
}
.f_money_ul1{
	height: 40px;
}
.f_money_ul1 li{
	margin-right: 10px;
}
.f_money_ul1 li input{
	width: 33px;
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 0 1px 2px   #cccccc inset;
}
.f_money_ul1 li input:focus{
	border: 1px solid #973031;
}
.f_money_ul2{
	height: 20px;
}
.f_money_ul2 li span{
	font-size: 18px;
	color: #000000;
	margin-left: 0;
}
.f_money_ul2 li:first-child{
	padding-left: 17px;
}
.f_money_ul2 li:nth-child(3){
	padding-right: 17px;
}
.f_money_ul2 li:nth-child(5){
	padding-left: 30px;
}
.f_money_ul2 li:nth-child(11){
	padding-right: 27px;
}
.f_btn_bar{
	overflow: hidden;
	margin-top: 22px;
	padding-bottom: 30px;
}
.f_btn_bar01{
	width: 205px;
	height: 48px;
	padding: 10px 22px;
	color: #986c39;
	border: 1px solid #cab994;
	border-radius: 5px;
	font-size: 18px;
	float: left;
}
.f_btn_bar01 span{
	font-size: 14px;
	
}
.f_btn_bar02{
	float: left;
	margin-left: 37px;
}
.f_btn_bar02 div:last-child{
	margin-top: 8px;
}
.f_btn_bar02 div:last-child span:first-child{
	color: #973031;
}
.f_btn_bar02 div:last-child span:nth-child(2){
	color: #986c39;
}

.f_btn_bar03{
	float: right;
	width: 138px;
	height: 46px;
	padding: 10px 30px;
	border: 1px solid #973031;
	border-radius: 5px;
	color: #8d2525;
	font-size: 18px;
}
